## Root Level Checks

| Tasks       |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files 2 Docs dir | Move files 2 hdd |
| ----------- | --- | --------------------- | ---------------------- | ------------------ | --------------------- | ---------------- |
| Movies      |     | Pass                  | Pass                   | Pass               | Pass                  | Pass             |
| TV Shows    |     | Pass                  | Pass                   | Pass               | Pass                  | Pass             |
| Christmas   |     | Pass                  | Pass                   | Pass               | Pass                  | Pass             |
| tgc         |     | Not Tested            | Not Tested             | Not Tested         | Not Tested            | Not Tested       |
| /videos\*\* |     | Pass                  | Pass                   | Pass               | Pass                  | Pass             |

- christmas, tgc, and /videos are the master files for each main root section
- issue with /videos is just that i dont see "master' in the name ... add that and it's all working fine

## Sub Level Checks

### christmas

| Tasks  |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files |
| ------ | --- | --------------------- | ---------------------- | ------------------ | ---------- |
| music  |     |                       |                        |                    |            |
| movies |     |                       |                        |                    |            |
| OTR    |     |                       |                        |                    |            |
| Videos |     |                       |                        |                    |            |

### tgc

| Tasks  |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files |
| ------ | --- | --------------------- | ---------------------- | ------------------ | ---------- |
| audio  |     |                       |                        |                    |            |
| videos |     |                       |                        |                    |            |

### custom /videos

| Tasks       |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files |
| ----------- | --- | --------------------- | ---------------------- | ------------------ | ---------- |
| educational |     | Fail                  | Fail                   |                    |            |
| themeparks  |     | Fail                  | Fail                   |                    |            |

- what i am seeing is only one of the reports are being created ... the "summary" file is what file is created BUT it has the contents of a detailed file

---

### music

#### master files

| Tasks  |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files 2 Docs | Move Files 2 hdd |
| ------ | --- | --------------------- | ---------------------- | ------------------ | ----------------- | ---------------- |
| others |     | not sure if coded     | Pass                   | Fail               | Pass              |                  |
| Rock   |     | not sure if coded     | Pass                   | Fail               | Pass              |                  |

#### Sub Dir/Folder scans

- it seems only the detailed reports are created (.. understandable ) but they are not labeled with "detailed" in the name

##### Others

| Tasks     |     | Create Detailed Report | Add Freespace code | Move Files 2 Docs | Move Files to hdd |
| --------- | --- | ---------------------- | ------------------ | ----------------- | ----------------- |
| Classical |     |                        |                    |                   |                   |
| Jazz      |     | Pass                   | Fail               | Pass              | Pass              |
| More      |     | Pass                   | Fail               | Pass              | Pass              |
| OTR       |     | Pass                   | Fail               | Pass              | Pass              |

##### Rock

| Tasks  |     | Create Detailed Report | Add Freespace code | Move Files 2 Docs | Move files to hdd |
| ------ | --- | ---------------------- | ------------------ | ----------------- | ----------------- |
| A to G |     | Pass                   | Fail               | Pass              | Pass              |
| H to N |     | Pass                   | Fail               | Pass              | Pass              |
| O to Z |     | Pass                   | Fail               | Pass              | Pass              |

---


- TESTS DONE ON/last updated on : June 3, 2021
