## Root Level Checks

| Tasks     |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files to appropriate locations |
| --------- | --- | --------------------- | ---------------------- | ------------------ | ----------------------------------- |
| Movies    |     | Pass                  | Pass                   | Pass (Both)        |                                     |
| TV Shows  |     | Pass                  | Pass                   | Pass (Both)        |                                     |
| Christmas |     | Pass                  | Pass                   | Pass (Both)        |                                     |
| tgc       |     |                       |                        |                    |                                     |
| /videos   |     |                       |                        |                    |                                     |

## Sub Level Checks

# christmas

| Tasks  |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files to appropriate locations |
| ------ | --- | --------------------- | ---------------------- | ------------------ | ----------------------------------- |
| music  |     | N/A                   | Pass                   | Pass (Both)        |                                     |
| movies |     | N/A                   |                        |                    |                                     |
| OTR    |     | N/A                   | Fail                   |                    |                                     |
| Videos |     | N/A                   |                        |                    |                                     |

### tgc

| Tasks  |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files to appropriate locations |
| ------ | --- | --------------------- | ---------------------- | ------------------ | ----------------------------------- |
| audio  |     | Pass                  | Pass                   | Pass (Both)        |                                     |
| videos |     |                       |                        |                    |                                     |
