## Root Level Checks

| Tasks     |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Cat Files |
| --------- | --- | --------------------- | ---------------------- | ------------------ | -------------- |
| Movies    |     |                       |                        |                    |                |
| TV Shows  |     |                       |                        |                    |                |
| Christmas |     |                       |                        |                    |                |
| tgc       |     |                       |                        |                    |                |
| /videos   |     |                       |                        |                    |                |

## Sub Level Checks

# christmas

| Tasks  |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files |
| ------ | --- | --------------------- | ---------------------- | ------------------ | ---------- |
| music  |     |                       |                        |                    |            |
| movies |     |                       |                        |                    |            |
| OTR    |     |                       |                        |                    |            |
| Videos |     | N/A                   |                        |                    |            |

### tgc

| Tasks  |     | Create Summary Report | Create Detailed Report | Add Freespace code | Move Files |
| ------ | --- | --------------------- | ---------------------- | ------------------ | ---------- |
| audio  |     |                       |                        |                    |            |
| videos |     |                       |                        |                    |            |
