######################################################################
# Top level (so to speak), variables

# Catalog related vars
## DESTINATION location for catalog file
catalogHomeDir="$HOME/Documents/Catalog/"
## the DESTINATION location to store ON the external HDD
## to have things stored there too
hddCatalogDir="$driveRoot/Catalogs"


# End of top level vars
######################################################################
