######################################################################
# Top level (so to speak), variables

# Catalog related vars
## DESTINATION location for catalog file
catalogHomeDir="$HOME/Documents/Catalog/"
## the DESTINATION location to store ON the external HDD
## to have things stored there too
hddCatalogDir="$driveRoot/Catalogs"


# End of top level vars
######################################################################


######################################################################
# Music Vars

# I think my idea was to have a dir to store the catagory files to
# keep things clean and not have a ton of catagory files in different dirs
musicDir="$driveRoot/music"

## Location on hdd to store catalog files (as a sort of backup)
musicCatalogDir="$musicDir/catalog"

## first level music locations
## For various genres
rockDir="$musicDir/Rock"
rapDir="$musicDir/Rap"

othersDir="$musicDir/Others"


## "other" sub dirs
classicalDir="$othersDir/Classical"
jazzDir="$othersDir/Jazz"
moreDir="$othersDir/more"
OTRDir="$othersDir/OTR"
relaxingDir="$othersDir/Relaxing"
#starWarsDir="$othersDir/"

## above and below i cant remember why i did things "this way"
othersSubDirs=("$classicalDir" "$jazzDir" "$moreDir" "$OTRDir")

## Rock "Sub" locations
rockSubDirs=("$rockDir/AtoG" "$rockDir/HtoN" "$rockDir/OtoZ" )

## End of Music Dir
#########################################################################
