# idea/brainstorming
# $1 = description (for echo)
# $2 = file location
function var_dir_import() {

    local description="$1"
    local file_location="$2"

    [ -f "$file_location" ] && \
        echo "importing $description variable config file" \
        && . "$file_location" || \
        echo "unable to import $description variable config files" || \
        sleep 2

}

var_dir_import "Directory Related" "$var_directory/dir_variables.cfg"
var_dir_import "Video Related" "$var_directory/vid_variables.cfg"

