

######################################################################
# Music Vars

# I think my idea was to have a dir to store the catagory files to
# keep things clean and not have a ton of catagory files in different dirs
music_main_dir="$driveRoot/music"

## Location on hdd to store catalog files (as a sort of backup)
## UPDATE: was this mistakenly refactored from "main_catagory_dir" ??
music_catalog_dir="$main_music_dir/catalog"

## first level music locations
music_root_dirs=(
    "Rock"
    "Rap"
    "Others"
)



## "other" sub dirs
music_others_classical_dir="$music_others_dir/Classical"
music_others_jazz_dir="$music_others_dir/Jazz"
music_others_more_dir="$music_others_dir/more"
music_others_OTR_dir="$music_others_dir/OTR"
music_others_relaxing_dir="$music_others_dir/Relaxing"
#music_others_starWars_dir="$othersDir/"

## above and below i cant remember why i did things "this way"
others_sub_dirs=(
    "$music_others_classical_dir"
    "$music_others_jazz_dir"
    "$music_others_more_dir"
    "$music_others_OTR_dir"
    )

## Rock "Sub" locations
rock_sub_dirs=(
    "$rockDir/AtoG"
    "$rockDir/HtoN"
    "$rockDir/OtoZ"
    )

## End of Music Dir
#########################################################################