#########################################################################
## Video related start

# root videos location
customVidsDir="$driveRoot/videos"

## Sub video locations (first level under /music)
homevidsDir="$customVidsDir/homevids"
themeparkDir="$customVidsDir/themeparks"
educationalDir="$customVidsDir/educational"
JGibsonDir="$educationalDir/jasongibson"


## End of Video variables
############################################################################
