#########################################################################
## Video related start

# root videos location
custom_vids_dir="$driveRoot/videos"

## Sub video locations (first level under /music)
JGibson_dir="$educational_dir/jasongibson"


# trial to simplify above variables
custom_vid_dirs=(
    "dogs"
    "educational"
    "food"
    "gameplays"
    "homevids"
    "Junkyard Digs and Similiar"
    "scenic"
    "Star Wars"
    "themeparks"
    "travel"
)

## End of Video variables
############################################################################
