#########################################################################
## Video related start

# root videos location
custom_vids_dir="$driveRoot/videos"

## Sub video locations (first level under /music)
homevids_dir="$custom_vids_dir/homevids"
themepark_dir="$custom_vids_dir/themeparks"
educational_dir="$custom_vids_dir/educational"
JGibson_dir="$educational_dir/jasongibson"


## End of Video variables
############################################################################
