
########################################################################

function catalog_music_files() {
    create_header "Checking for Music files"

    # if the music dir exists ... the echo here is sort of a test and can be removed later
    # remember to pass the array
    # what to pass (example) ${arrayname[@]}
    [ -d "$music_main_dir" ] && music_root_dir_check "${music_root_dirs[@]}" || echo "music dir does not exist" && user_prompt
}

# not really needed, but for the "root folders" that have audio and video files INSIDE
function catalog_multi_root() {
    create_header "Checking for Christmas,TGC and parents related content"

    universal_check_for_dirs "Christmas" "tgc" "parents_movies"
}

# Somewhat "meta" function for video related stuff (TV Shows, Movies, (custom) videos)
function catalog_video_files() {
    create_header "Checking for Video Directories"

    ## Checks for a movies and tvshows dir in the root of the ext. hdd being checked
    # things here should be in the root folder of the external hdd
    # the exact (case too i mean) spelling be EXACT
    universal_check_for_dirs "movies" "tvshows"

    # run check for custom vids
    check_for_custom_video_dir "${custom_video_array[@]}"
}
