
####################################################################
# Meta function to check for the root level "/videos" directiory
function check_for_custom_video_dir() {

    create_header "Checking for custom videos /videos directory"

    # check for vids dir (/videos, in the root location) first, if it doesn't exist, there is no need to proceed
    if [ -d "$custom_vids_dir" ]; then

        sectionTitle="videos"
        # idea: do i want to change "themeparks" to "travel"? 
        # ADD travel, and leave as-is?
        subDirSearch=(
            "educational"
            "gameplay"
            "homevids"
            "Junkyard Digs and Similiar"
            "Star Wars"
            "themeparks"
            "travel"
            )
        
        dirLevel="customVids"

        universal_check_for_dirs $sectionTitle
        # Here the TOTAL /videos catalog file will be dealt with
        
        # aug 14 2026: why this message here?
        #read -p "COMPLETE report for /videos directory created now"
        #clear

        echo -e "About to search for specific subdirectories"
        universal_subdir_check "${subDirSearch[@]}" "$sectionTitle" "$dirLevel"

    ## this doesn't make sense here .... this should be (I think) sort of inside "checkForSpecificSubDirs"
    elif [ ! -d "${custom_vids_dir}" ]; then
        echo -e "videos directory not detected" && sleep 2

    else
        echo -e "Error detecting videos directory, on $driveLabel"
    fi
}
