## music (no caps) will be the music directory in the hdd's root folder ... anything different should be renamed

# - Christmas stuff will not be sorted in this config .. meaning Christmas should be in the root location of the backup drive .. with sub dirs inside including "music"

# - tgc audio will not be sorted here as that is in a "/tgc/audio" root dir

# - audiobooks MAY be sorted here


# here for now but this may be moved to the univeral.cfg file later
# this is for the subdir search
function getMusicDirList() {
    # takes dir names you want to check for as arguements... at least ones you'd want to have a sorted sub_catagory files
    # checkForDir is an array of directory names to search for

    for eachDir in "${checkForDir[@]}"
    do

        # -I ignore these extentions,
        # -P include these (both of these needed?)

        tree \ 
            -I "$(IFS='|'; echo "${TREE_IGNORE_PATTERNS[*]}")" \
            -P "*.mp3" \
            "$eachDir" > $eachDir"_Catalog.txt"

        #read -p "Pause"
    done
}


# ?? how do things change with the new universal functions that I didn't have before?


#######################################################

function reportOthersSubDir() {

    for subDir in $@
    {

        subDirsCatagoryfile=${othersCatDir}"/"${subDirCheck}"_Catalog.txt"

        echo -e "Catagorizing $subDirCheck folder"
        tree \
            -P "*.mp3" \
            -o $subDirsCatagoryfile $subDir
    }
}

# Setup location to store catagory files
function setupCatagoryDir() {

    create_header "Checking for/Setting up Catagory destination directories"

    # where is localCatalogDir definded? ... did i half rename a var?
    [ ! -d ${localCatalogDir} ] && echo -e "Creating local Catagory dir" && mkdir "${localCatalogDir}" || echo "NOTHING TO DO: local catagory directory already exists"

    user_prompt

    [ ! -d ${hddCatalogDir} ] && echo -e "Creating local Catagory dir" && mkdir ${hddCatalogDir} || echo "NOTHING TO DO: local catagory directory already exists"

    echo -e "Catagory Locations created or where alreday there"

}




# the name of the function seems ok BUT ... it seems like the purpose of the function is the same as what is right below (function below )
# I THINK this was suppose to be for the main (Rock. others) "root" level checking
function music_root_dir_check() {

    # what gets passed here IS a full path
    mainDirFullPath="$@"

    # ?? will the in part of this and the var above get the ARRAY?
    # I think my thinking was that i could pass various "main music folder" paths to this at a single time
    for eachMainDirFullPath in "$mainDirFullPath"
    do

        eachMainDir=$(basename ${eachMainDirFullPath})

        music_root_output_file=${driveLabel}"_"${currentDate}"_"${eachMainDir}"_music_MASTER_catalog.txt"

        setupCatagoryDir

        [ -d ${eachMainDirFullPath} ] && clear && echo -e "${eachMainDir} directory was found" && tree --dirsfirst -n -P "*.mp3" ${eachMainDirFullPath} -o  "${music_root_output_file}"
    done
}


#######################################################################
# function that is passed an array of sub dirs from (for now i know it works ... not sure about nested things) the root /music dir
function music_sub_dir_check() {

    subDirFullPath="${@}"

    # "as long as there is another subdir to check for"
    for subDirCheckFullPath in "${subDirFullPath}";  do

        # IF the currently passed subdir (checking for) ACTUALLY EXISTS
        if [ -d "${subDirCheckFullPath}" ]; then


            read -p "${subDirCheckFullPath} dir found"

            # i dont want to use "genre" in the var name in case the name of the nested folder is not a genre
            currentSubCheck=$(basename ${subDirCheckFullPath})

            music_subDirReports=$driveLabel"_"$currentDate"_"$eachMainDir"_"$currentSubCheck"_music_Catalog.txt"

            # ?? uh ... shouldn't the $SubDirCheckFullPath be AFTER THE -o part?
                # i legit forgot ...
            tree \
                -P "*.mp3" \
                --dirsfirst \
                $subDirCheckFullPath
                -o "$music_subDirReports" >/dev/null


                # tree \
                    #     "${TREE_COMMON_OPTS[@]}" \
                    #      -I "$(IFS='|'; echo "${TREE_IGNORE_PATTERNS[*]}")" \

                    #     -o "$currentsubDirOutputFile" \
                    #     "$subDirLocation"

        else
            echo -e "\n$subDirCheckFullPath directory, not found"

        fi

    done

}

# audio book question "audio books" "audiobooks" ???


#####################################################
# Meta function
function mainGenreCheck() {

    # ONLY checks the subdirs existing IF the root (/Rock for example) exist or otherwise there is no point
    [ -d $music_others_dir ] && music_root_dir_check ${music_others_dir} && music_sub_dir_check "${others_sub_dirs[@]}" "$eachMainDir"

    [ -d $music_rock_dir ] && music_root_dir_check $music_rock_dir && music_sub_dir_check "${music_rock_dir[@]}" "$eachMainDir"
}

music_rock_dir="$main_music_dir/Rock"
