
function tgcSubDirSearch() {
    sectionTitle="The_Great_Course"

    ## idea: does it make more sense to split tgc into audio and video? 
    # OR to have the course names (some i have audio AND video) and then in there an "audio" and "video"
    # set of dirs? 

    subDirSearch=("audio" "video")
    dirLevel="customVids"

    universalSubdirCheck "${subDirSearch[@]}" "$sectionTitle"

}

function christmasRelatedSubDirSearch() {

    # here we know "christmasRelated" exists

    sectionTitle="christmas_related"
    subDirSearch=("music" "movies" "OTR" "videos")
    dirLevel="root"
    
    universalSubdirCheck "${subDirSearch[@]}" "$sectionTitle"
}


function educationalSubDirSearch() {
    # tgc videos and audio should be in their own "tgc" folder in the root dir

    sectionTitle="educational_Videos"
    # ? change to jason_gibson? 
    # June 2026: if i remember my new idea .. "history" and "science" should be elsewhere 
    ## (say /videos/history), NOT in here 
    subDirSearch=("jasonGibson", "programming")
    dirLevel="customVids"
    universalSubdirCheck "${subDirSearch[@]}" "$sectionTitle"
}
