##################################################################################

# I need to know the date that this was collected
currentDate=$(date +"%B_%d_%Y")
# example output: October_24_2020

#driveRoot=$(lsblk /dev/sdb | awk '/part/  { print $7 } ')
# what happens if not sdb1?
driveRoot=$(findmnt -n -o TARGET /dev/sdb1)
driveLabel=$(basename $driveRoot)


# Global
var_directory="configs/variables"
var_dir_include="$var_directory/includes.cfg"

[ -f "$var_dir_include" ] && echo "importing variable config file" && . $var_dir_include || echo "unable to import variable config files" && sleep 2






#########################################################################
## Various variables

# Oct 2025 - i am not sure about this ... i think i rather have say "TGC"
# as a root location and then top level sub locations "audio" and "video"
# then stuff could be sorted INSIDE of that.
# THIS the way i had it would be (i think) in "/Videos/Educational/tgc"
## other idea: at LEAST have it be in /Videos/tgc" 
TheGreatCoursesDir="$educationalDir/tgc"



# keep this in the top
christmasRelatedDir="$dirRoot/christmasRelated"



# this needs to be moved elsewhere 
function create_header() {
    
    # this is the text in say the menu surrounded by the border
    local border_text=${@}
    
    local border_char="-"
    local border_width="${#border_text}"
    local border=$(printf '%*s' "$border_width" "" | tr ' ' "$border_char")
    
    clear
    echo -e "${border}"
    echo -e "${border_text}"
    echo -e "${border}\v"

}